BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 8
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Left
FixNamespaceComments: true
SortIncludes: true
IncludeBlocks: Regroup
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
